<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Atividades</h1>

    {% for atividade in todos_atividade %}
    <p>Responsável: {{atividade.responsavel}}</p>
    <p>Turma: {{atividade.turma}}</p>
    <p>Quantidade: {{atividade.quantidade}}</p>
    <p>Data início: {{atividade.data_hora_inicio}}</p>
    <p>Data fim: {{atividade.data_hora_fim}}</p>

    <a href="{% url 'atividade_editar' atividade.id %}">EDITAR</a>
    <a href="{% url 'atividade_remover' atividade.id %}">REMOVER</a>
    {% endfor %}
</body>
</html>