<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Espaço</h1>

    
    {% for espaco in todos_espaco %}
    <p>Nome: {{espaco.nome_espaco}}</p>

    <a href="{% url 'atividade_editar' atividade.id %}">EDITAR</a>
    <a href="{% url 'atividade_remover' atividade.id %}">REMOVER</a>
    {% endfor %}
</body>
</html>