<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/estilo.css">
</head>
<body>
    <h1>Página de login</h1>    
    
    <form action="/entrar/" method="post">
        {% csrf_token %}
        <div class="title icon icon-forward-1"> Login</div>
        <div class="input-container">
            <input id="username" class="input" type="text" name="username" placeholder=""/>
            <div class="legenda-p"></div>
            <label for="username" class="label icon icon-user-1"> Username</label>
        </div>
        <div class="input-container">
            <input id="email" class="input" type="email" name="email" placeholder=""/>
            <div class="legenda-p"></div>
            <label for="email" class="label icon icon-user-1"> EMAIL</label>
        </div>
        <div class="input-container">
            <input id="password" class="input" type="password" name="password" placeholder=""/>
            <div class="legenda-p"></div>
            <label for="password" class="label icon icon-user-1"> Password</label>
        </div>
        <button type="submit" class="btn">Entrar</button>
    </form>
    <button class="btn"><a href="{% url 'home' %}">VOLTAR</a></button>
</body>
</html>