<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Modalidade</h1>

    {% for modalidades in todos_modalidade %}
    <p>Modalidade: {{modalidades.Nome_Modalidade}}</p>

    <a href="{% url 'modalidade_editar' modalidade.id %}">EDITAR</a>
    <a href="{% url 'modalidade_remover' modalidade.id %}">REMOVER</a>
    {% endfor %}
</body>
</html>